@font-face {
    font-family: 'Glass TTY VT220';
    src: url('../fonts/Glass_TTY_VT220.woff2') format('woff2'),
        url('../fonts/Glass_TTY_VT220.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@keyframes background-flicker {
	0% {
		text-shadow: 0 0 2px #72fab6, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
	}
	25% {
		text-shadow: 0 0 3px #80ffc0, 0 0 11px #00ff66, 0 0 21px #00ff66, 0 0 31px #00ff66;
	}
	50% {
		text-shadow: 0 0 4px #80ffc0, 0 0 12px #00ff66, 0 0 23px #00ff66, 0 0 33px #00ff66;
	}
	100% {
		text-shadow: 0 0 3px #80ffc0, 0 0 9px #00ff66, 0 0 19px #00ff66, 0 0 29px #00ff66;
	}
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Glass TTY VT220';
	animation: background-flicker 0.2s ease-in-out infinite;
	color: #f0fff8;
	margin: 0;
	padding: 20px 8px;
	box-sizing: border-box;
	background: #0a0a0a;
	font-size:1.6rem;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

canvas {
	position:fixed;
	left:0;
	top:0;
	z-index:-1;
	width:100%;
	height:100%;
	background: #000800;
}

.page {
	max-width: 1188px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
		"header  header"
		"nav     main";
	grid-template-columns: 250px 1fr;
	gap: 0;
}

@media (max-width: 768px) {
	.page {
		grid-template-areas:
			"header"
			"nav"
			"main";
		grid-template-columns: 1fr;
	}

	body {
		padding: 8px 4px;
		font-size: 1.2rem;
	}
}

header {
	grid-area: header;
	text-align: center;
}

nav {
	grid-area: nav;
}

main {
	grid-area: main;
}

div[retro-render] {
    min-width: 200px;
    background: transparent;
    user-select: text;
}

p {
	padding:10px;
	margin:0;
}